body{
    background-color: black;
 }
 
 h1{
     font-family: 'Times New Roman', Times, serif;
     color: rgb(35, 206, 107);
 }
 
 
 h2{
     color: rgb(35, 206, 107);
 }
 
 img{
     width: 200px;
     padding: 10px;
     background-color: gray;
     
 }
 
 p{
     font-family: monospace;
     color: rgb(232, 241, 242);
 }
 ul{
     color: rgb(232, 241, 242);
 }
 
 .Trabalho{
     font-size: medium;
     
 }
 .javascript{
     font-size: medium;
 }
 .Dedicado{
     font-size: medium;
 }
 .Html{
     font-size: medium;
 }
 .Css{
     font-size: medium;
 }
 
 a{
     color: rgb(149, 216, 247);
 }
 
 .container{
     height: 360px;
 }
 
 div {
     border: 2px solid rgb(149, 216, 247);
 }
 #foto{
     float: left;
 }

 .meuNome{
    text-align: center;
 }